.grafico {
  height: 500px !important;
  width: 110vh !important;
  max-width: 100%;
}

/* Media query for devices with a maximum width of 768px (typically smartphones) */
@media (max-width: 768px) {
  .grafico {
    height: 300px !important;
  }
}
