.container2 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60vh;
  max-width: auto;
  color: rgb(0, 0, 0);
  background-color: rgb(244, 249, 252);
  background-image: url("../HomeBackgroundHearth.jpg"); /* Replace with the path to the image*/
  background-size: cover; /* Fit the image to the size of the container */
  background-repeat: no-repeat; /* Avoid image repetition */
  /* Other styles desired for the container */
}

.cover-container {
  background-image: url("../HomeBackgroundHearth.jpg"); /* Replace with the path to the image */
}
/* 
.title {
} */

.background-image {
  height: 100vh;
  background-image: url("../HomeBackgroundHearth.jpg"); /* Replace with the path to the image */
  background-size: cover; /* Fit the image to the size of the container */
  background-repeat: no-repeat; /* Avoid image repetition */
}

/* Media queries for devices with a maximum width of 768px (typically smartphones) */
@media (max-width: 768px) {
  .navbar > .container-fluid {
    justify-content: center !important;
  }

  .background-image {
    height: 60vh;
    background-image: url("../HomeBackgroundHearth.jpg"); /* Replace with the path to the image */
    background-size: cover; /* Fit the image to the size of the container */
    background-repeat: no-repeat; /* Avoid image repetition  */
  }
}
