.graphic {
  height: 500px !important;
  width: 110vh !important;
}

/* Media query for devices with a maximum width of 768px (typically smartphones) */
@media (max-width: 768px) {
  .graphic {
    height: 300px !important;
  }
}
